@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
.donut{
    background-color: #fefdfd;
    height: 645px;
   
    
   
}
.donut img{
    height: 14cm;
    width: 14cm;
    border-radius: 80px;
    float: right;
    margin-left: 50px;
}
.donut table{
    float: right;    
    width: 100%;
    margin-top: 22px;   
}

.text{
    margin-left: 100px;
    margin-right: 150px;
    width: 700px;
    margin-top: 50px;
}

.text h1{
    font-family: "Itim", cursive;
    font-size: 60px;
    color: #3E1C12;
}

.text p{
    font-family: "Montserrat", fantasy;
    color:#7a4b3d;
    font-size: 20px;
}
.text button{
    
    border-radius: 30px;
    width: 140px;
    height: 55px;
    font-family: "Montserrat ",fantasy;
    font-size: 17px;
    color:#7a4b3d ;
    background-color: #fefdfd;
    border-color: #7a4b3d;
    

}
.text button:hover{
    background-color:#F9E9E5 ;
}